body{
    height: 1500px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
    
    .blue{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #1F2937;
        font-size: 18px;
        color: #E5E7EB;
        flex: 1;
    }

        .title{
            display: flex;
            justify-content: space-between;
            padding:0px 7%;
            align-items:center;
        }

            .header{
                font-size: 24px;
                color: #F9FAF8;
                margin:0px;
            }

            ul{
                list-style-type: none;
                display: flex;
                gap: 8px;
                padding: 0px;
                margin: 20px 0px;
                text-align: center;
            }

                a{
                    text-decoration: none;
                    color: #E5E7EB;
                }

        .introduction{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding:0% 7% 0% 7%;
        }

            .text{
                display:flex;
                flex-direction: column;
                gap:8px;
                flex-basis: 30%;
            }

                .name{
                    font-size: 48px;
                    color:#F9FAF8;
                    font-weight: 800;
                }

                button{
                    color: #E5E7EB;
                    padding: 8px;
                    background-color: #3882F6;
                    width: 76px;
                    padding: 3px 10px 3px 10px;
                    border-radius: 5px;
                    border:none;
                }

                button:hover{
                    background-color: #073d94;
                    box-shadow: 0 0 10px rgba(19, 18, 18, 0.5);
                }
            
            .placeholder{
                width: 100%;
                height: 100%;
                background-color: rgb(78, 77, 77);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 30%;
            }
    
    .white{
        flex:1;
        display: flex;
        flex-direction: column;
    }

        .titleContent{
            padding: 20px;
            padding-bottom: 0px;
            font-weight: 800;
            text-align: center;
            font-size: 36px;
            color: #1F2937;
        }

        .content{
            margin:30px;
            display: flex;  
            gap:10px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

            .box{
                width: 160px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
                .square{
                    width: 130px;
                    height: 130px;
                    border-radius: 10px;
                    border: 3px solid #3882F6;
                }

                .information{
                    text-align: center;
                }

    .quote{
        font-size: 36px;
        color: #1F2937;
        background:#E5E7EB;
        font-style: italic;
        font-weight: 300;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 15%;                           
    }

        .quote span{
            font-style: normal;
            display: block;
            text-align: right;
            font-size: 18px;
            font-weight: bold;
        } 

    .advert{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    } 

        .screen{
            display: flex;
            padding: 0% 20%;
            justify-content: center;
            align-items: center;
            flex:1;
        }

            .ad{
                color: #E5E7EB;
                background-color: #3882F6;
                padding: 2% 4%;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:20px;
            }

                .ad .text{
                    flex:1;
                }

                .ad button{
                    border:2px solid #E5E7EB;  
                }

        .footer{
            background-color: #1F2937;
            display:flex;
            justify-content: center;
            align-items: center;
            color: #E5E7EB;
            padding: 10px;
        }
  
    @media screen and (max-width: 800px){
        .blue{
            font-size: 14px;
        }
        ul{
            font-size: 12px;
        }
        .text{
            flex-basis:40%;
        }
        .name{
            font-size: 36px;
        }
        .placeholder{
            text-align: center;
            flex-basis:40%;
        }
        .content{
            flex-wrap: nowrap;
        }    
        .quote{
            font-size: 30px;
        }
        .ad{
            padding:2% 20px;
        }
    }    

    @media screen and (max-width: 400px){
        .blue{
            font-size: 14px;
        }
        .header{
            font-size: 18px;
        }
        ul{
            font-size: 10px;
        }
        .name,
        .titleContent{
            font-size: 26px;
        }
        .content{
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .box{
            width: 120px;
        }
        .square{
            width: 90px;
            height: 90px;
        }
        .information{
            font-size:10px ;
        }
        .quote{
            font-size: 24px;
        }
        .ad{
            font-size: 12px;
            padding: 1% 15px;
        }
    }    
